<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="806aaa">  <td>19/06/27 11:55:49</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>19/06/27 11:55:49</td>   <td>313</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>19/06/27 11:55:49</td>   <td>318</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="c9d8e2">  <td>19/06/27 11:55:50</td>   <td>836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>19/06/27 11:55:52</td>   <td>2950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">loginAndLogout</td> 
  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="c9d8e2">  <td>19/06/27 11:55:59</td>   <td>9889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="c9d8e2">  <td>19/06/27 11:55:59</td>   <td>9971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="689d9d">  <td>19/06/27 11:56:00</td>   <td>11487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">loginAndLogout</td> 
  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="c9d8e2">  <td>19/06/27 11:56:07</td>   <td>18301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>19/06/27 11:56:08</td>   <td>18586</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@6a370f4]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1787079037</td>   <td></td> </tr>
</table>
